* {
    margin: 0%;
    padding: 0%;
}

.card{
    height: 100%;
}

#email::placeholder,
#nome::placeholder,
#password-field1::placeholder, 
#password-field2::placeholder {
    color: rgb(253, 252, 249);
}

.form-control:focus {
    box-shadow: none;
    /* Remove a sombra da borda */

}

#email,#nome{
    border-color: black;
    width: 93.5%;
}

#password-field1, #password-field2{
    border-color: black;
    border-right: none;
    border-start-end-radius:unset;
    border-end-end-radius: unset;
    width: 83%;
}

.linkcadastro {
    color: rgb(45, 109, 194);
}

.linkcadastro:hover{
    text-decoration:underline;
    color: rgb(45, 107, 194);
}
#cadastrar{
    width: 95%;
}

#footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media screen and (max-height: 731px) {
    #footer{
        position: relative;
    }
}

@media screen and (max-width: 850px){
    #footer{
        position: relative;
    }
}
