* {
    margin: 0%;
    padding: 0%;
}

#pesquisa,
.iconeSearch {
    border-radius: 0;
}

#searchResults {
    display: flex;
    position: absolute;
    border: 1px solid #000000;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    left: -2px;
    overflow-x: hidden;
}

.searchContainer {
    position: relative;
}

.pesquisaProd:hover {
    background-color: #000000;
}

.num_itens {
    display: flex;
    justify-content: center;
    align-items: center;
    right: -45px;
    top: -42px;
    width: 16px;
    height: 16px;
    background-color: aliceblue;
    position: relative;
    border-radius: 100%;
    font-size: 11px;
}

a,
.mais {
    text-decoration: none;
    color: white;
}

a:hover,
#link,
.mais:hover {
    color: green;
}

.imgPesquisa {
    height: 50px;
    width: 50px;
}

.imgCarousel {
    max-height: 450px;
}

.imgProdutos {
    height: 300px;
}

.imgPagamento {
    height: 35px;
    width: 80px;
    background: local;
}

.card {
    height: 481px;
}

hr {
    width: 20px;
}
