* {
    margin: 0%;
    padding: 0%;
}

#email::placeholder,
#password-field1::placeholder {
    color: rgb(253, 252, 249);
}

.form-control:focus {
    box-shadow: none;
    /* Remove a sombra da borda */

}

#email {
    border-color: black;
    width: 93.5%;
}

#password-field1 {
    border-color: black;
    border-right: none;
    border-start-end-radius: unset;
    border-end-end-radius: unset;
    width: 80%;
}

.linklogin {
    color: rgb(45, 109, 194);
}

.linklogin:hover{
    text-decoration:underline;
    color: rgb(45, 107, 194);
}

#enviar {
    width: 95%;
}

.card {
    height: 100%;
}

.naopossuiconta {
    height: 20px;
}

.hr {
    width: 90%;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media screen and (max-height: 731px) {
    #footer {
        position: relative;
    }
}

@media screen and (max-width: 850px) {
    #footer {
        position: relative;
    }
}
